<p id="notice"><%= notice %></p>

<p>
  <strong>Age:</strong>
  <%= @information.age %>
</p>

<p>
  <strong>Gender:</strong>
  <%= @information.gender %>
</p>

<p>
  <strong>Country:</strong>
  <%= @information.country %>
</p>

<p>
  <strong>State:</strong>
  <%= @information.state %>
</p>

<p>
  <strong>City:</strong>
  <%= @information.city %>
</p>

<p>
  <strong>Street:</strong>
  <%= @information.street %>
</p>

<p>
  <strong>Zipcode:</strong>
  <%= @information.zipcode %>
</p>

<p>
  <strong>Income:</strong>
  <%= @information.income %>
</p>

<p>
  <strong>Expenses:</strong>
  <%= @information.expenses %>
</p>

<p>
  <strong>Assets:</strong>
  <%= @information.assets %>
</p>

<p>
  <strong>Liabilities:</strong>
  <%= @information.liabilities %>
</p>

<p>
  <strong>Dependents:</strong>
  <%= @information.dependents %>
</p>

<p>
  <strong>Health:</strong>
  <%= @information.health %>
</p>

<p>
  <strong>Activity levels:</strong>
  <%= @information.activity_levels %>
</p>

<%= link_to 'Edit', edit_information_path(@information) %> |
<%= link_to 'Back', information_index_path %>
